<div class="bg-light mt-3 lm-2 border border-danger rounded-sm mt-3 ml-1" style="height: auto;">

    <ul class="nav flex-column">

        <li class="nav-item border border-danger">
          <a class="nav-link active" href="/usuarios">Usuários</a>
        </li>

        <li class="nav-item border border-danger">
          <a class="nav-link active" href="/produtos">Produtos</a>
        </li>

        <li class="nav-item border border-danger">
          <a class="nav-link active" href="/marcas">Marcas</a>
        </li>

        <li class="nav-item border border-danger">
          <a class="nav-link active" href="/imagens">Imagens</a>
        </li>
    </ul>
</div>